/* ---------- Color Module Styles ----------- */

body {
  color: #3b3b3b;
  background: #292929;
}

#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
  background: #fff;
}

.tabs ul.primary li a.is-active {
  background-color: #fff;
}

.tabs ul.primary li.is-active a {
  background-color: #fff;
  border-bottom-color: #fff;
}

#navbar-top {
    background-color: #1da8fd;
}

#navbar-main {
    background-color: #fff;
    color: #333;
}

a,
.link {
  color: #0071b3;
}

a:hover,
a:focus,
.link:hover,
.link:focus {
  color: #018fe2;
}

a:active,
.link:active {
  color: #23aeff;
}

.page-item.active .page-link {
  background-color: #0071b3;
  border-color: #0071b3;
}

.page-link,
.page-link:hover {
  color: #0071b3;
}

.sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}

.btn-primary {
  background-color: #000;
  border-color: #000;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #000;
  border-color: #000;
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):active {
color: #fff;
background-color: #000;
border-color: #000;
}

.site-footer {
  color: #000;
  background-color: #faf9f7;
}

.region-header,
.region-header a,
.region-header li a.is-active,
.region-header .site-branding__text,
.region-header .site-branding,
.region-header .site-branding__text a,
.region-header .site-branding a,
.region-secondary-menu .menu-item a,
.region-secondary-menu .menu-item a.is-active {
  color: #fffeff;
}


/* ---------- Color Form ----------- */

[dir="rtl"] .color-form .color-palette {
  margin-left: 0;
  margin-right: 20px;
}

[dir="rtl"] .color-form .form-item label {
  float: right;
}

[dir="rtl"] .color-form .color-palette .lock {
  right: -20px;
  left: 0;
}

.view-id-store.view-store a,
.view-id-store.view-store .link {
  color: #000;
}

.page-user-register a,
.page-user-login a,
.page-user-password a,
.page-user-register .link,
.page-user-login .link,
.page-user-password .link {
  color:#000;
}

.sidebar .block {
  background-color: #fff;
  border-color: #fff;
}
