

/* GENERAL */

h2 {
  margin:0px;
}

.node__content {
  margin-top:0px;
}

p {
  letter-spacing: 1.5px;
    padding: 15px 0px;
    /*line-height: 2.1;*/
}

.breadcrumb {
  /*font-size: 0.929em;*/
  background-color: transparent;
  padding-left: 0;
}

h1.title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 70px;
  margin-bottom: 50px;
}

.section-title {
  text-transform: uppercase;
  color: #121212;
  font-weight: 700;
  text-align: left;
  font-size: 41px;
  padding-bottom: 20px;
  padding-top: 0px;
}

.paragraph .field--name-field-title {
  text-transform: uppercase;
  color: #121212;
  font-weight: 700;
  text-align: left;
  font-size: 41px;
}

.section-header {
  margin-bottom: 20px;
}

.block-page-title-block {
  margin: auto;
}

.node .field--type-image {
    margin: 0;
}

 .node.node--view-mode-teaser .field--type-image {
    float: none;
}

.field--name-field-header-image img {
  width: 100%;
  height: auto;
  display:block;
}

.field--name-body  {
  /*padding: 50px 0px;*/
  max-width: 1020px;
  margin: auto;
}

.btn {
  text-transform: uppercase;
  font-weight: bold;
}

.field--name-webform {
  max-width: 920px;
  margin: auto;
}

.field--name-webform #edit-actions,
.user-form #edit-actions,
.user-login-form #edit-actions,
.user-pass #edit-actions {
  text-align: center;
  padding-top: 15px;
 }

 .feed-icons {
  display: none;
 }




/* LAYOUT */
#main-wrapper #main {
  padding-left: 60px;
  padding-right: 60px;
}

#main {
  max-width: 1600px;
  margin:auto;
}

.site-footer .footer-container {
  padding-top: 30px;
  max-width: 1600px;
  padding-left: 60px;
  padding-right: 60px;
  margin: auto;
}

.site-footer {
  margin-top: 100px;
  border-top: 3px solid;
  border-color: #e6e6e6;
  padding: 35px 0 60px!important;
}

.site-footer .block-menu h2,
.site-footer .block-block-content h2 {
  color: #000;
  font-weight: bold;
  padding-left: 16px;
  padding-bottom: 14px;
  font-size: 17px;
}

.site-footer .block-block-content .content {
  padding-left: 16px;
}

.site-footer .block-menu a {
  font-size: 15px;
  line-height: 9px;
}

.site-footer .nav {
  display: block;
}

.site-footer nav.block {
  line-height: 0.4;
  margin: auto;
}


/* HEADER */
.header a {
  color: #000;
}

.header .navbar-collapse .sf-depth-1 a,
.header .navbar-collapse .sf-depth-1 a:hover {
  color: #000;
}

.header a:hover {
  color: #000;
}

.header ul.sf-menu.sf-style-white a,
.header ul.sf-menu.sf-style-white a:visited,
.header ul.sf-menu.sf-style-white a.is-active {
  color: #000;
}

.header ul.sf-menu.sf-style-white li:hover {
  background: #fff;
}

.sf-menu.sf-style-white a {
  color: #000;
}

.header .menu--main a.is-active,
.header .menu--main a:active,
.header .menu--main a:focus,
.header .menu--account a.is-active,
.header .menu--account a:active,
.header .menu--account a:focus,
.header .navbar-collapse a.is-active,
.header .navbar-collapse .sf-depth-1 a:active,
.header .navbar-collapse .sf-depth-1 a:focus {
  color: #ea3223;
}

.header .navbar-collapse .sf-menu {
  float: right;
}

.header .menu--main a
 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.header .navbar-collapse .sf-depth-1 a {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.header .navbar-collapse .sf-depth-1 {
  background-color: #fff;
}

.header {
  border-bottom: 3px solid;
  border-color: #e6e6e6;
}

.header a.navbar-brand {
  width: 30%;
}

.header .navbar .sf-menu {
  float: left;
}

/* Navbar */
#navbar-top {
    background-color: #1da8fd;
}

#navbar-main {
    background-color: #c3c3c3;
}

.navbar {
	padding-left: 60px;
	padding-right: 60px;
}

/* Right Menu */
.navbar-form {
  width: 400px;
  display: block;
  margin-top: -12px;
}

#search-block-form,
.cart--cart-block {
  display: none;
}

.header .menu--account a
 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 0;
  padding-right: 0;
    padding-left: 15px;

}

.header .fas {
  padding-left: 15px;
}




/* SIDEBAR */
.sidebar_second {
  /*top: 125px;*/
}

.sidebar_second .views-exposed-form.block,
.views-exposed-form.block {
  padding: 5px 0px;
}

.sidebar_second .views-exposed-form label,
.views-exposed-form label {
  font-weight: bold;
  text-transform: uppercase;
}

.sidebar_second .views-exposed-form fieldset,
.views-exposed-form fieldset {
  margin-bottom: 30px;
}

.sidebar_second .views-exposed-form .form-group.form-actions,
.views-exposed-form .form-group.form-actions {
  text-align: center;
}


/* CONTENT TYPES */
.node--type-video.node--view-mode-teaser,
.node--type-artist.node--view-mode-teaser,
.node--type-article.node--view-mode-teaser
{
  border-bottom: none;
}

.node--type-video.node--view-mode-teaser h2,
.node--type-artist.node--view-mode-teaser h2,
.node--type-article.node--view-mode-teaser h2
 {
  text-align: center;
  padding-top: 0px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
}

.node--type-video.node--view-mode-teaser img,
.node--type-artist.node--view-mode-teaser img,
.node--type-article.node--view-mode-teaser img
{
  width: 100%;
  height: 100%;
  display:block;
}

.node--type-video.node--view-mode-teaser img {
  cursor: pointer;
}

.node--type-video.node--view-mode-teaser h2 span,
.node--type-artist.node--view-mode-teaser h2 span
 {
	cursor: pointer;
}

.node--type-artist.node--view-mode-teaser .field--name-field-subtitle {
	text-align: center;
  font-size:18px;
}

.node--type-video.node--view-mode-teaser .field--name-field-embed-video {
  display:none;
}

.node--type-artist h1,
.node--type-article h1,
.node--type-video h1   {
    margin-bottom: 0px;
}

.node--type-artist .field--name-field-subtitle {
  text-align: center;
  font-size: 29px;
}

.node--type-artist p:first-of-type:first-letter,
.node--type-article p:first-of-type:first-letter,
.node--type-video p:first-of-type:first-letter
/*.field--name-body p:first-of-type:first-letter,*/
{
  font-size: 4rem;
  font-weight: 500;
  margin-right: 7px;
  float: left;
  line-height: 66px;
  text-transform: uppercase;
}

.node--type-video .field--type-video-embed-field {
  width: 1350px;
  height: auto;
  margin: auto;
  margin-bottom: 16px;
}

.node--type-article h1  {
  margin-bottom: 0px;
}

.ref-section {
  margin:auto;
  width: 100%;
}

.ref-section h2,
.section-header {
  line-height: 1.0;
}

/* STORE */
.view-id-store.view-store img,
.field--name-field-header-image- img {
	width: 100%;
  height: 100%;
  display:block;
}

.view-id-store.view-store a,
.view-id-store.view-store .link {
  text-transform: uppercase;
	font-size: 1.3rem;
}

.view-id-store.view-store .views-field-title,
.view-id-store.view-store .views-field-price__number {
  text-align: center;
}

.field--name-webform label,
.user-form label,
.user-login-form label,
.user-pass label {
  text-transform: uppercase;
  font-weight: bold;
}

.field--name-field-product-image img {
  width: 100%;
  height: 100%;
}

.product-info {
  width: 450px;
  margin: auto;
  /*padding-top: 85px;*/
}

.product-info p {
  padding:0px;
  margin:0px;
}


.product-info .field--name-body {
  padding: 20px 0px;
}

.product-info .separator {
  margin:10px 0px;
  border-bottom: 1px solid;
  width: 100%;
}

.product-info .field--name-price {
  font-weight: bold;
  letter-spacing: 0.5px;
}

.product-info .field--name-title  {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 30px;
  padding-bottom: 2rem;
}

.product-info fieldset {
    float:left;
    width: 50%;
    margin: auto;
    margin-bottom: 13px;
}

.product-info .form-select {
  width: 100%;
}

.btn.button--add-to-cart {
  width: 100%;
}

.product-info .field--name-field-product-tags {
    width: 50%;
    float: left;
}

.product-info .field--name-field-product-categories {
    width: 50%;
    float: right;
}

.product-info .field--name-field-product-categories .field__item,
.product-info .field--name-field-product-tags .field__item {
  display: inline-block;
}

.product-info .field--name-field-type {
  margin:0 0 6px;
}

.product-info a,
.product-info a:active,
.product-info a:focus,
.product-info a:hover {
  color: #000;
}

.product-info .field__label {
  text-transform: uppercase;
  font-weight: bold;
}

.product-info .field--name-field-brand-group {
  font-size: 20px;
  margin:0px;
}

.product-info .field--type-address-country .field__item,
.product-info .field--name-field-type .field__item {
  float: right;
}

.section-product .field--name-title,
.field--name-field-product-reference .field--name-title {
  text-align: center;
}

.section-product .field--name-title a,
.section-product .field--name-title link,
.field--name-field-product-reference .field--name-title a,
.field--name-field-product-reference .field--name-title link,
.view-id-store.view-store a,
.view-id-store.view-store link  {
  text-transform: uppercase;
  font-size: 1.2rem;
}

.section-product a,
.section-product a:active,
.section-product a:focus,
.section-product a:hover,
.field--name-field-product-reference a,
.field--name-field-product-reference a:active,
.field--name-field-product-reference a:focus,
.field--name-field-product-reference a:hover,
.field--name-field-paragraph .field--name-field-link a,
.field--name-field-paragraph .field--name-field-link a:active,
.field--name-field-paragraph .field--name-field-link a:focus,
.field--name-field-paragraph .field--name-field-link a:hover,
.site-footer .block-menu .nav-item a,
.site-footer .block-menu .nav-item a:active,
.site-footer .block-menu .nav-item a:focus,
.site-footer .block-menu .nav-item a:hover {
  color: #000;
}

.site-footer__top h2 {
  font-weight: bold;
}

.site-footer__top h2,
.site-footer .content {
  color: #000;
}

.site-footer .block,
.site-footer .field--name-body {
  margin: 0px;
  padding: 0px;
}

.section-product .field--name-price,
.field--name-field-product-reference .field--name-price,
.view-id-store.view-store .views-field-price__number {
  font-size: 15px;
  text-align: center;
}

.section-product .carousel-control-prev,
.section-product .carousel-control-next,
.paragraph--type--paragraph-products .carousel-control-prev,
.paragraph--type--paragraph-products .carousel-control-next {
  display: none;
}

.section-product .field--name-price,
.paragraph--type--paragraph-products .field--name-price {
  margin-bottom: 30px;
  padding-bottom: 15px;
}

.ref-section {
  margin-bottom: 15px;
}

/* Cart */


.cart-form{
  padding: 0px 55px;
}

.views-form {
  width: 100%;
}

.view-commerce-cart-form .table th{
  background-color: #000;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.view-commerce-cart-form .table td{
  background-color: #fff;
}

.view-commerce-cart-form .table img{
  width: 120px;
  height: auto;
}

.views-field-purchased-entity a{
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}

.table td {
  vertical-align: middle;
  text-align: center;
  font-size:16px;
}

.view-commerce-cart-form .table input{
  width: 50px;
  padding: 5px;
  text-align: center;
  margin: auto;
}
.order-total-line {
  font-size: 19px;
}

.order-total-line {
  font-size: 18px;
}

.view-commerce-cart-form .field--type-entity-reference {
  margin: 0px;
}
.view-commerce-cart-form .form-group {
  margin:0px;
}

.slick .slick-dots {
  bottom: 75px;
}

/*.field--name-field-paragraph .col-md-6 {
  padding:0px;
  margin: 0px;
}

.field--name-field-paragraph .node--type-article.node--view-mode-teaser {
  padding:0px;
  margin:0px;
}
*/
.field--name-field-paragraph .node--type-article.node--view-mode-teaser h2 {
  position: absolute;
  top: 90px;
  text-align: left;
  float:left;
  left:40px;
  right:40px;
  font-size: 44px;

}
.field--name-field-paragraph .node--type-article.node--view-mode-teaser h2 a {
  color: #fff;
}

.field--name-field-paragraph .field--name-field-link {
  float: right;
  padding-top: 11px;

}
.field--name-field-paragraph .field--name-field-link a {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
}

.paragraph .field--name-field-content-reference {
  width: 100%;
}

.field--type-entity-reference {
  margin: 0px;
}

.user-form,
.user-login-form,
.user-pass {
  max-width: 1020px;
  margin: auto;
}

/*
.user-form .form-control,
.user-login-form .form-control,
.user-pass .form-control {
  width:68%;
}
*/

.user-form fieldset,
.user-login-form fieldset,
.user-pass fieldset,
.user-form #edit-contact,
.user-login-form #edit-contact,
.user-pass #edit-contact,
.user-pass p {
  width: 40%;
  margin: auto;
  margin-bottom: 15px;
}

.user-pass p {
  text-align: center;
}

.page-user-register .tabs,
.page-user-login .tabs,
.page-user-password .tabs {
  max-width: 600px;
  margin: auto;
  margin-bottom: 40px;
  text-align: center;
}

.page-user-register  .nav-tabs,
.page-user-login  .nav-tabs,
.page-user-password  .nav-tabs {
  text-transform: uppercase;
}

.page-user-register a .link,
.page-user-login a .link,
.page-user-password a .link {
  color:#000;
}

.page-user-register  .nav,
.page-user-login  .nav,
.page-user-password  .nav {
  display: inline-flex;
}

/* HOME BASIC PAGE */

.node--type-page #main-wrapper #main {
  padding-left: 0px;
  padding-right: 0px;
}

.node--type-page #main {
  max-width:100% ;
  margin: auto;
}

.node--type-page .paragraph--type--paragraph-artists,
.node--type-page .paragraph--type--paragraph-products,
.node--type-page .paragraph--type--paragraph-news,
.node--type-page .paragraph--type--paragraph-videos {
  padding-left:60px;
  padding-right: 60px;
  max-width: 1600px;
  margin:auto;
  margin-bottom: 15px;
}



@font-face {
  font-family: 'avenir';
  src: url('../assets/fonts/avenir/avenir-black.woff2') format('woff2'),
       url('../assets/fonts/avenir/avenir-black.woff') format('woff');
}
@font-face {
  font-family: 'teko';
  src: url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap')
}


/*
-----------------------------------------
Global
-----------------------------------------
*/

*{
  outline: none !important;
  min-width: 0;
  min-height: 0;
}

html{
  /*font-size: $html-font-size;*/
}

body{
  position: relative;
  font-family: 'avenir','lato', sans-serif;;
  /*@include font-size($font-size-base);*/
  /*line-height: $line-height-base;*/
  /*font-weight: $font-weight-base;*/
  /*color: $color-text-base;*/
}

/*
-----------------------------------------
Headings
-----------------------------------------
*/

h1, h2, h3, h4, h5{
  line-height: inherit;
}

/*
-----------------------------------------
Text
-----------------------------------------
*/

label{
  font-weight: normal;
  margin-bottom: 0;
/*&:not(:last-child){*/
/*   margin-bottom: rem(10px);*/
/* }*/
}

strong,
/*b{*/
/*  font-weight: $font-weight-bold;*/
/*}*/

/*
-----------------------------------------
Link
-----------------------------------------
*/

a{
  color: inherit;
  transition: all 0.2s ease-in-out;
/*@include hover-focus-active{*/
/*  color: $color-primary;*/
/*  text-decoration: none;*/
/*}*/
}

/*
-----------------------------------------
Button
-----------------------------------------
*/

button{
  background-color: transparent;
  cursor: pointer;
  border: 0;
  transition: all 0.2s ease-in-out;
}

/*
-----------------------------------------
Lists
-----------------------------------------
*/

ol,
ul,
dl,
li {
  padding: 0;
  margin: 0;
  list-style: none !important;
}

/*
-----------------------------------------
Hr
-----------------------------------------
*/

hr{
  border-color: inherit;
}


/*
-----------------------------------------
Table
-----------------------------------------
*/
.table thead th
{
  border-bottom: 0;
}


/*
-----------------------------------------
delete bg form autocomplete input
-----------------------------------------
*/
.js input.form-autocomplete{
  background-image: none !important;
}


.product-info fieldset{
  width: 100%;
  margin-left: 0 !important;
}

/*.custom-control-input:checked ~ .custom-control-label::before{*/
/*  background-color: transparent;*/
/*}*/

legend{
  font-size: 15px !important;
}
small {
  font-size: 12px ;
}
