{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}

{% if view_mode == 'full' %}
  <article{{ attributes }}>
    <div class="product-wrap row">
      <div class="col-md-8 pt-3">
        {{ product.variation_field_medias }}
        <h2>{{ "Détails"|t }}</h2>
        {{ product.body.0 }}

      </div>
      <div class="col-md-4">
        <div class="product-info">

          <h1>
            {{ product.title.0 }}
          </h1>

          {{ product.variations }}

          {% if product.variation_field_stock %}
            <span class="badge badge-primary">
            {{ "In stock."|t }}
            </span>
          {% else %}
            <span class="badge badge-primary">
            {{ "This product is currently out of stock."|t }}
            </span>
          {% endif %}


          <div class="separator"></div>
          <span class="price_field">
            <span class="h5"> {{ product.variation_price }}  <small>{{ "+ Free shipping "|t }}</small> </span>
          </span>
          <div class="separator"></div>

          <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingthree">
                <h5 class="mb-0" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                  {{ "warranty"|t }}
                </h5>
              </div>

              <div id="collapseThree" class="collapse " aria-labelledby="headingthree" data-parent="#accordion" aria-expanded="true">
                <div class="card-body">
                  {{ product.field_text.0 }}
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  {{ "shipping"|t }}
                </h5>
              </div>
              <div id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  {{ product.field_text.0 }}
                </div>
              </div>
            </div>

          </div>

          <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  {{ "Spécifications"|t }}
                </h5>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Item: {{ product.variation_sku }} </li>
                    <li class="list-group-item">type:  {{ product.field_type }}</li>
                    <li class="list-group-item">Dimensions: {{ product.variation_field_dimen }}</li>
                    <li class="list-group-item">Weight: {{ product.variation_weight }}</li>
                    <li class="list-group-item">Country manifacture:{{ product.field_manufacture_country }}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>


          </div>
      </div>
      {% if not (product_entity.field_artists.isEmpty == true) and product.field_artists is defined %}
        <div class="ref-section section-artist">
          <h2 class="section-title">Related artists</h2>
          {{ product.field_artists }}
        </div>
        {% endif %}
        {% if not (product_entity.field_articles.isEmpty == true) and product.field_articles is defined %}
        <div class="ref-section section-article">
          <h2 class="section-title">Related articles</h2>
          {{ product.field_articles }}
        </div>
        {% endif %}
        {% if not (product_entity.field_videos.isEmpty == true) and product.field_videos is defined %}
        <div class="ref-section section-video">
          <h2 class="section-title">Related videos</h2>
          {{ product.field_videos }}
        </div>
        {% endif %}
        {% if prduct_entity.field_products.list|length > 0 and product.field_products is defined %}
        <div class="ref-section section-product">
        <h2 class="section-title">Related products</h2>
        {{ product.field_products }}
        </div>
        {% endif %}
    </div>
  </article>

{% else %}

  <article{{ attributes }}>
    {{ product.variation_field_product_image }}
    {{ product.title }}
    {{ product.variation_price }}
  </article>

{% endif %}
